.headImg {
  height: 150px;
  width: 150px;
  float: center;
  border-radius: 50%;
  border:8px solid var(--lighter-color);
  overflow: hidden;
  background-color: var(--darkest-color);
  margin-bottom:20px;
}

.headBox {
  display: flex;
  justify-content: center;
}