.grid {
  display:none;
}

.active {
  display:block
}
.inventory {
  color:var(--dark-color);
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 14px;
  text-align: center;
  text-justify: inter-word;
}
.resumeLinkCol {
  height:35px;
  padding:7px;
  background-color:var(--darkest-color);
}
.resumeLink {
  margin-top: -4px;
}