html {
  --darkest-color: #1c1b1b;
  --dark-color: #0f2d55;
  --lighter-color: #007CC7;
  --lightest-color: #4DA8DA;
  --light-gray:rgb(218, 218, 218);
  --bg-color: rgb(0, 5, 26);
  --dark-gray:#6c757d;
  --darker-gray:#4e5b66;
}